<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/','inicio']">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
          </li>
        </ul>
        <span class="navbar-text">
          <div *ngIf="usuario">
            <div class="row">
              <div class="col-sm-12">
                   <img width="30%" [src]="usuario.picture" alt="">
              </div>
              <div class="col-sm-12">
                 {{usuario.name}}

              </div>
            </div>

        </div>
       <button *ngIf="estaAutenticado === false"
               class="btn btn-primary" (click)="login()">
         login
       </button>
          <button
            *ngIf="estaAutenticado === true" class="btn btn-danger"
            (click)="logout()">
          logout
        </button>
      </span>
      </div>
    </div>
  </nav>

{{usuario | json}}
  <router-outlet></router-outlet>
</div>